<html>
    <head>
        <link rel="stylesheet" href="/static/css/style_barre_nav.css">
    </head>
    <body>
        <ul class="ul-barre-nav">
            <li class="li-barre-nav animationmenu"><a href="/recherche_optimise">Cycle optimisé</a></li>
            <li class="li-barre-nav animationmenu"><a href="/adhesion_collecte">Inscription Collecte</a></li>
            <li class="li-barre-nav partajardin">Parta'Jardin</li>
            <li class="li-barre-nav animationmenu"><a href="/menu">Profil</a></li>
            <li class="li-barre-nav animationmenu"><a href="/accueil">Accueil</a></li>
        </ul>
    </body>
</html>